.header { font-size:10pt; font-weight:bold; color:#CBCBCB; background-color:#383838; }
.date { font-size:9pt; font-weight:bold; color:#CBCBCB; background-color:#383838; }
.line-0 { font-size:9pt; color:#CBCBCB; background-color:#383838; }
.line-1 { font-size:9pt; color:#CBCBCB; background-color:#383838; }
.time { font-size:7pt; color:#CBCBCB; padding-top:3px; }
.title, .description { }
.description { font-size:9pt; }
.text { width:100%; }
.title_with_description { font-weight:bold; }
a { text-decoration:none; color:#CBCBCB; }
table { width:100%; border-spacing:0px; }
td { vertical-align: top; }
body { margin:0px; background-color:#383838; }
